body{
    background-image: url(images/background.jpg);
    padding-top: 72px;
    padding: 36px;
}
.header{
    display: flex;
    position: fixed;
    background-color: red;
    color: white;
    top: 0;
    right: 0;
    left: 0;
    height: 48px;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.header button{
    background-color: rgb(222, 34, 34);
    border: white solid;
    color: white;
    border: 2px solid;
    border-radius: 8px;
}
.header button:hover{
    cursor: pointer;
}
.title{
    text-align: center;
    font-size: 28px;
    
}
.main{
    border-radius: 15px;
    background-color: wheat;
    padding: 10px;
    margin: 10px;
}
.content{
    font-size: 18px;
}
